mat-toolbar{
    background-color: mediumpurple;
}

.root {
  display: flex;
  flex-flow: row wrap;
  align-content: stretch;
}

header {
  width: 100%;
  height: 14%;
  flex-grow: 3;
}

main {
  flex-grow: 2;
  height: 55%;
}

aside {
  flex-grow: 1;
  height: 55%;
}

app-static-footer {
  width: 100%;
  flex-grow: 3;
  height: 10%;
}

.elem {
  margin: 1%;
}
