<form>
  <mat-form-field>
    <mat-label>Марка</mat-label>
    <input matInput placeholder="Audi">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Модель</mat-label>
    <input matInput placeholder="TT">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Мощность двигателя</mat-label>
    <input type="number" matInput placeholder="180">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Максимальная скорость</mat-label>
    <input type="number" matInput placeholder="250">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Дополнительные опции</mat-label>
    <textarea matInput placeholder="Кондиционер"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary">Добавить</button>
</form>
