<form>
  <h3>Добавить авто</h3>
  <div class="form-group">
    <label for="Make">Марка</label>
    <input class="form-control" type="text" [(ngModel)]="make" id="Make">
  </div>
  <div class="form-group">
    <label for="Model">Модель</label>
    <input class="form-control" type="text" [(ngModel)]="model" id="Model">
  </div>
  <div class="form-group">
    <label for="Speed">Максимальная скорость</label>
    <input class="form-control" type="number" [(ngModel)]="speed" id="Speed">
  </div>
  <div class="form-group">
    <label for="Power">Мощность двигателя</label>
    <input class="form-control" type="number" [(ngModel)]="power" id="Power">
  </div>
  <div class="form-group">
    <label for="Extra">Дополнительные опции</label>
    <textarea class="form-control" [(ngModel)]="extra" id="Extra" value=""></textarea>
  </div>
  <button mat-raised-button (click)="addCar()">Добавить</button>
</form>
